<ng-container *ngIf="shouldRun">
  <mat-toolbar class="example-header"> <a  (click)="sidenav.toggle()" ><img width="100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"></a><h1>Header</h1></mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
               <ul>
                 <li> <a routerLink="/shopping/addproducts"                 
                   routerLinkActive="active"  >Add product</a> </li>

                   <!-- [queryParams]="{ editmode:'false'}"  -->
                   
                 <li> <a routerLink="/shopping/viewproducts" routerLinkActive="active"  >View product</a> </li>
                 <li> <a routerLink="/purchase/productlist" routerLinkActive="active"  >Product list</a> </li>
                 <!-- <li> <a routerLink="/purchase/productbuy" routerLinkActive="active"  >Buy Product</a> </li>  -->
                 <li> <a routerLink="/purchase/boughtproducts" routerLinkActive="active"  >Purchased Products</a> </li> 
                 
               </ul> 
    </mat-sidenav>

    <mat-sidenav-content >
      <div class=" mx-3 my-3">
        
           <router-outlet></router-outlet>
        
      </div>
     




       
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer " style="justify-content: center;
  ">All Rights Reserved 2018</mat-toolbar>
</ng-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>